---
import BaseHead from "../../components/BaseHead.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import { SITE_TITLE, PROJECTS_DESCRIPTION } from "../../consts";
import "../../styles/global.css";
import GoogleAnalytics from "../../components/GoogleAnalytics.astro";

import { getCollection } from "astro:content";
import { Icon } from "astro-icon";

const projects = (await getCollection("project")).filter(
  (project) => project.data.display !== false
);
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <BaseHead
      title={`${SITE_TITLE} | Projects`}
      description={PROJECTS_DESCRIPTION}
    />
    <GoogleAnalytics />
  </head>
  <body class="std-body">
    <main class="std-main">
      <Header />

      <section class="grid md:grid-cols-4">
        <h1 class="text-4xl py-4 font-bold">Projects</h1>
        <p class="text-lg pb-4 pr-4 row-start-2 col-span-2">
          Education through project-based learning is my prefered way to learn new things. I've been lucky enough to work on some really cool projects over the years. Here are some of my favorites.
        </p>
      </section>

      <hr class="my-8 mb-16" />

      <section>
        <ul class="grid md:grid-cols-2 sm:grid-cols-2 space-y-4">
          {
            projects.map((project) => (
              <li class="p-3 hover:border-2 mr-4 -ml-2 m-2 border-2 border-black hover:shadow-xl hover:border-emerald-600 hover:bg-white rounded-md shadow-md hover:translate-x-1 ">
                <a href={`/project/${project.slug}`}>
                  <div>
                    <header>
                      <div class="flex flex-row justify-between">
                        <Icon class="w-8" pack="ion" name="folder-outline" />

                        <ul class="flex flex-row space-x-2 underline">
                          {project.data.website && (
                            <li>
                              <a target="_blank" href={project.data.website}>
                                <Icon class="w-8" pack="mdi" name="web" />
                              </a>
                            </li>
                          )}

                          {project.data.repository && (
                            <li>
                              <a target="_blank" href={project.data.repository}>
                                <Icon class="w-8" pack="cib" name="git" />
                              </a>
                            </li>
                          )}
                        </ul>
                      </div>
                    </header>

                    <h2 class="font-bold text-lg">{project.data.title}</h2>
                    <p class="text-md">{project.data.description}</p>

                    <p class="mt-4 mb-2">{project.data.builtWith.join(", ")}</p>
                  </div>
                </a>
              </li>
            ))
          }
        </ul>
      </section>
      <Footer />
    </main>
  </body>
</html>
