---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '../../consts';
import { getCollection } from 'astro:content';
import FormattedDate from '../../components/FormattedDate.astro';

import { Image } from '@astrojs/image/components';

const posts = (await getCollection('blog')).sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);
---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body class="grid w-screen lg:grid-cols-5 md:grid-cols-3">
		<main class="col-span-3 lg:col-start-2">
      <Header />

			<section>
				<ul class="space-y-6 p-4">
					{
						posts.map((post) => (
							<li class="p-4 border-black border-2 rounded-md shadow-md hover:shadow-lg hover:border-3 hover:translate-x-4">
                <a class="flex justify-between" href={`blog/${post.slug}/`}>
                  <div>
                    <h2 class="font-bold text-lg" href={`/blog/${post.slug}/`}>{post.data.title}</h2>
                    <p>{post.data.description}</p>
                    <FormattedDate date={post.data.pubDate} />
                  </div>

                  {
                    <Image
                      src={post.data.heroImage}
                      alt={post.data.title}
                      height={100}
                      width={150}
                    />
                  }
                </a>
							</li>
						))
					}
				</ul>
			</section>
      <Footer />
    </main>
	</body>
</html>
