---
import BaseHead from '../../components/BaseHead.astro';
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
import { SITE_TITLE, BLOGS_DESCRIPTION } from '../../consts';
import FormattedDate from '../../components/FormattedDate.astro';
import '../../styles/global.css';
import { EMAIL } from '../../consts';
import FooterCTA from '../../components/FooterCTA.astro';
import GoogleAnalytics from '../../components/GoogleAnalytics.astro';

import { getCollection } from 'astro:content';
import { Icon } from 'astro-icon';

import { Image } from 'astro:assets';

const posts = (await getCollection('blog'))
.filter(
  (post) => post.data.display !== false
)
.sort(
	(a, b) => b.data.pubDate.valueOf() - a.data.pubDate.valueOf()
);

const images = import.meta.glob('../../blog/**/*.{jpeg,jpg,png,svg}');

const getImage = (post: any) : any => {
  return images[`../../blog/${post.slug}/${post.data.heroImage}`]()
}

---

<!DOCTYPE html>
<html lang="en">
	<head>
		<BaseHead title={`${SITE_TITLE}: blog`} description={BLOGS_DESCRIPTION} />
    <GoogleAnalytics />
	</head>
	<body class="std-body">
		<main class="std-main">
      <Header />
      <section class="grid md:grid-cols-4">
        <h1 class="text-4xl py-4 font-bold">Blog</h1>
        <p class="text-lg pb-4 pr-4 row-start-2 col-span-2">A collection of my thoughts and ramblings</p>
      </section>

      <hr class="my-2 mb-8" />

			<section>
				<ul class="space-y-16">
          {
            posts.map((post) => (
              <li class="w-full">
                <div class="grid md:grid-cols-4 pb-6">
                  <a class="col-span-3 text-3xl font-medium pr-8" href={`/blog/${post.slug}/`}>{post.data.title}</a>  
                  <div class="text-xl pt-2 opacity-80">
                    <p class="border-sky-600 border-l-4 pl-2">
                    <FormattedDate date={post.data.pubDate} />
                  </p>
                  </div>
                </div>
                <div class="grid md:grid-cols-4">
                  <div class="pr-6 col-span-2">
                    <p class="text-md lg:text-lg opacity-70 pb-4">{post.data.description}</p>
                    <a class="text-lg group font-bold text-cyan-800 flex mb-8" href={`/blog/${post.slug}/`}>Read more <Icon class="w-5 group-hover:translate-x-1" pack="ion" name="arrow-forward-sharp"/></a>
                  </div>

                  <a href={`/blog/${post.slug}/`} class="col-span-2">
                    <Image class="object-scale-down rounded-md shadow-2xl" src={getImage(post)} width="1080" alt={post.data.title}/>
                  </a>
                </div>
              </li>
            ))
          }
				</ul>
			</section>

      <hr class="my-8" />

      <section class="mb-8 grid md:grid-cols-2">
        <FooterCTA
          title="Stay in touch"
          description="Subscribe to my RSS feed to stay updated"
          href="/feed.rss"
          cta="RSS"
        />
        <FooterCTA
          title="Have any questions"
          description="Feel free to contact me! I will answer any and all inquires"
          href={`mailto:${EMAIL}`}
          cta="Email"
        />
      </section>

      <hr class="my-8" />

      <Footer />
    </main>
	</body>
</html>


<!-- <Image class="object-fill" src={post.data.heroImage} alt={post.data.title} width={400} aspectRatio="-1" /> -->
