---
import { Image } from 'astro:assets'

type Props = {
  title: string;
  description: string;
  src: string;
  href?: string;
};

const { title, description, src, href } = Astro.props;
---
{ href ?
<a href={href} class="flex flex-row space-x-6">
  <Image class="h-24 w-24" {src} alt={title} width={256} height={256} format="avif" />
  <div>
    <h3 class="font-bold text-xl tracking-tight">{title}</h3>
    <p class="tracking-wide">{description}</p>
  </div>
</a>
:
<li class="flex flex-row space-x-6">
  <Image src={src} alt={title} width={256} height={256} format="avif" />
  <div>
    <h3 class="font-bold text-xl tracking-tight">{title}</h3>
    <p class="tracking-wide">{description}</p>
  </div>
</li>
}
