---
import type { CollectionEntry } from 'astro:content';
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import FormattedDate from '../components/FormattedDate.astro';

import '../styles/global.css'

import GoogleAnalytics from '../components/GoogleAnalytics.astro';

type Props = CollectionEntry<'blog'>['data'];

const { title, description, pubDate, updatedDate, heroImage, next, prev } = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<GoogleAnalytics />
	</head>

  <body class="grid w-screen lg:grid-cols-5 md:grid-cols-3">
    <main class="col-span-3 lg:col-start-2">
      <Header />
			<article class="prose prose-xl">
				{heroImage && <img width={720} height={360} src={heroImage} alt="" />}
				<h1 class="title">{title}</h1>
				<FormattedDate date={pubDate} />
				{
					updatedDate && (
						<div class="last-updated-on">
							Last updated on <FormattedDate date={updatedDate} />
						</div>
					)
				}
				<hr />
				<slot />
			</article>

      <hr />

      <section class="grid grid-cols-2">
        <!-- Read next -->
        <div>
          <header>Previous article</header>

          {next && (<a href={`/blog/${next.slug}`}>{next.data.title}</a>)}
        </div>
        <div>
          <header>Next article</header>
          {prev && (<a href={`/blog/${prev.slug}`}>{prev.data.title}</a>)}
        </div>
      </section>

      <section>
        <!-- Double section between subscribing to RSS -->
        <div>
          Subscribe to rss

          <a class="text-white bg-black p-2" href="/feed.rss">RSS</a>
        </div>
      </section>
		<Footer/>
    </main>
	</body>
</html>
