---
import BaseHead from "../components/BaseHead.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import FormattedDate from "../components/FormattedDate.astro";
import GoogleAnalytics from "../components/GoogleAnalytics.astro";
import Mathjax from "../components/Mathjax.astro";
import FooterCTA from "../components/FooterCTA.astro";
import { EMAIL } from "../consts";
import "../styles/global.css";

import type { CollectionEntry } from "astro:content";
import { Image, getImage } from "astro:assets";

type Props = CollectionEntry<"blog">["data"];

const images = import.meta.glob(
  "../blog/**/*.{jpeg,jpg,png,svg,webp,avif,gif}"
);

const fetchImg = (slug, heroImage): any => {
  return images[`../blog/${slug}/${heroImage}`]();
};

const { data, slug, next, prev, no_hero } = Astro.props;

const { title, description, pubDate, updatedDate, heroImage, tags } = data;

const thumbnail = await getImage({
  src: fetchImg(slug, heroImage),
  format: "avif",
});

const og = await getImage({
  src: fetchImg(slug, heroImage),
  format: "png",
});
---

<html lang="en">
  <head>
    <BaseHead
      title={title}
      description={description}
      image={og.src}
      type="article"
    />
    <GoogleAnalytics />
    <Mathjax />

    <!--
      Article Specific Meta Tags
     -->
    <meta name="article:published_time" content={pubDate} />
    {updatedDate && <meta name="article:modified_time" content={updatedDate} />}
    <meta name="article:author" content="William Kaiser" />
    <meta name="article:section" content="Technology" />
    {tags && tags.map((tag) => <meta name="article:tag" content={tag} />)}
  </head>

  <body>
    <div class="relative mx-auto mt-5 max-w-prose">
      <Header />
    </div>

    <main
      class={`relative overflow-hidden py-16 px-4` +
        (no_hero !== true ? ` w-screen` : ``)}
    >
      <div
        class={`mx-auto max-w-prose text-lg` +
          (no_hero !== true ? ` max-w-prose` : ``)}
      >
        <a
          href="/blog"
          class="block text-center text-lg font-semibold text-orange hover:underline text-blue-600"
          >Engineering</a
        >
        <h1
          class="mt-2 block text-center text-3xl font-bold leading-8 tracking-tight text-gray-1000 sm:text-4xl"
        >
          {title}
        </h1>
        <p
          class="mt-2 text-center text-lg font-medium tracing-tighter text-gray-700"
        >
          Published <FormattedDate date={pubDate} />
        </p>
        {
          updatedDate && (
            <div class="last-updated-on">
              Updated <FormattedDate date={updatedDate} />
            </div>
          )
        }
        <p class="mt-8 text-xl leading-8 text-gray-700">{description}</p>
      </div>

      {
        heroImage && (
          <>
            <div class="mt-12 -mx-6 lg:-mx-8">
              <Image
                class="mx-auto w-[512px] aspect-video lg:rounded-lg object-cover"
                width={128 * 9}
                src={fetchImg(slug, heroImage)}
                alt="header image"
                format="avif"
              />
            </div>
            <hr class="mt-4" />
          </>
        )
      }
      <div
        class="prose prose-lg prose-orange prose-pre:text-sm mx-auto mt-12 text-gray-700 prose-a:text-orange hover:prose-a:text-orange-500 prose-figcaption:italic prose-figcaption:-mt-1 prose-figcaption:text-sm prose-figcaption:font-serif prose-img:drop-shadow-xl"
      >
        <slot />
      </div>

      <hr class="mt-4 mx-auto max-w-prose" />

      <section class="grid md:grid-cols-2 my-4 max-w-prose mx-auto">
        {
          prev && (
            <a href={`/blog/${prev.slug}`} class="p-2 hover:left-1">
              <header class="text-gray-500">Previous post</header>
              <h1 class="font-bold">{prev.data.title}</h1>
            </a>
          )
        }

        {
          next && (
            <a
              href={`/blog/${next.slug}`}
              class="text-right md:col-start-2 p-2 hover:right-1"
            >
              <header class="text-gray-500">Next post</header>
              <h1 class="font-bold">{next.data.title}</h1>
            </a>
          )
        }
      </section>

      <hr class="mx-auto max-w-prose" />

      <section class="mb-8 grid md:grid-cols-2 max-w-prose mx-auto">
        <FooterCTA
          title="Stay in touch"
          description="Subscribe to my RSS feed to stay updated"
          href="/feed.xml"
          cta="RSS"
        />
        <FooterCTA
          title="Have any questions"
          description="Feel free to contact me! I will answer any and all inquires"
          href={`mailto:${EMAIL}`}
          cta="Email"
        />
      </section>
      <div class="max-w-prose mx-auto">
        <Footer />
      </div>
    </main>
  </body>
</html>
