---
import type { CollectionEntry } from 'astro:content';
import { Icon } from 'astro-icon';

import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import GoogleAnalytics from '../components/GoogleAnalytics.astro';
import FooterCTA from '../components/FooterCTA.astro';

type Props = CollectionEntry<'project'>['data'];

const { title, description, repository, website, builtWith} = Astro.props;
---

<html lang="en">
	<head>
		<BaseHead title={title} description={description} />
		<GoogleAnalytics />
	</head>

  <body class="std-body">
		<main class="std-main">
      <Header />
			<article class="prose lg:prose-xl">
        <h1>{title}</h1>
        <div class="flex justify-between items-center">
          <p>{description}</p>
 
          <div class="flex justify-end space-x-2">

            {website && (<a href={website}><Icon class="w-8" pack="mdi" name="web" /></a>)}
            {repository && (<a href={repository}><Icon class="w-8" pack="cib" name="github" /></a>)}
          </div>
        </div>

        {builtWith && (<p>{builtWith.join(", ")}</p>)}
				
        <hr />
				<slot />
			</article>

      <hr class="my-4"/>

      <section class="mb-8 grid md:grid-cols-2">
        {repository && (<FooterCTA
          title="Show me the repo"
          description="This project is fully open-source, check out the repository"
          href={repository}
          cta="GitHub"
        />)}

        {website && (<FooterCTA
          title="Show me it working"
          description="The website is live, check it out"
          href={website}
          cta="Website"
        />)}
        
      </section>

      <hr class="my-4" />

      <Footer /> 
		</main>
  </body>
</html>
